<a href="https://colab.research.google.com/github/YuAn-Son/Statistics/blob/main/chapter3_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6.23

In [1]:
import numpy as np
data = [7.92, 10.29, 19.89 ,7.73, 10.36, 13.5, 8.81, 6.18, 7.02, 11.71, 8.33, 9.32, 14.61]

In [14]:
import pandas as pd
df = pd.DataFrame(data)
summary = df.describe()
summary

               0
count  13.000000
mean   10.436154
std     3.759416
min     6.180000
25%     7.920000
50%     9.320000
75%    11.710000
max    19.890000

# 6.24

In [15]:
import numpy as np
ozone_concentration = np.array([3.5, 6.8, 2.4, 6.8, 5.5, 6.2, 5.7, 9.4, 6.8,
                                6.6, 1.4, 2.5, 3.0, 1.7, 1.1, 7.5, 5.8, 3.4,
                                3.1, 4.4, 6.6, 5.4, 5.6, 5.3, 5.1, 6.2, 3.1,
                                5.8, 4.7, 5.7, 6.0, 4.4, 4.7, 4.7, 5.6, 6.0,
                                5.8, 7.6, 3.8, 4.5, 4.2, 5.4, 6.5, 7.4, 5.5,
                                5.8, 1.6, 1.4, 5.9, 3.7, 4.4, 4.7, 3.0, 6.0,
                                1.4, 2.8, 2.5, 3.7, 3.3, 9.4, 5.3, 3.5, 4.1,
                                6.7, 3.9, 6.1, 8.1, 2.0, 6.2, 5.6, 4.0, 3.4,
                                11.7, 6.6, 4.1, 6.6, 3.7, 7.6])

In [16]:
print(np.median(ozone_concentration))
q1,q2,q3 = np.percentile(ozone_concentration, [25,50,75])
print(q1, q2, q3)
print(np.mean(ozone_concentration))
print(np.std(ozone_concentration, ddof=1))

5.3
3.55 5.3 6.175000000000001
4.974358974358975
2.0026239862996826

In [17]:
import pandas as pd
df = pd.DataFrame(ozone_concentration)
df.describe()

               0
count  78.000000
mean    4.974359
std     2.002624
min     1.100000
25%     3.550000
50%     5.300000
75%     6.175000
max    11.700000

# 6.25

In [18]:
rain = [3.57, 4.12, 4.3, 4.5, 3.8, 4.18, 4.32, 4.51, 4.01, 4.2, 4.33, 4.52,
        4.01, 4.21, 4.35, 4.52, 4.05, 4.27, 4.35, 4.52, 4.05, 4.28, 4.41, 4.57,
        4.58, 4.65, 4.78, 5.41, 4.6, 4.7, 4.78, 5.48, 4.61, 4.7, 4.8, 4.61, 4.7,
        5.07, 4.62, 4.7, 5.2, 4.62, 4.72, 5.26]

In [19]:
import pandas as pd
df_rain = pd.DataFrame(rain)
df_rain.describe()

               0
count  44.000000
mean    4.512273
std     0.393091
min     3.570000
25%     4.277500
50%     4.520000
75%     4.700000
max     5.480000